<ion-content class="u25-safe-area-padding">
    <h1>
        Hallo. <br/>
        Schön, dass du da bist.
    </h1>
    <u25-pin-create-form #pinCreateForm *ngIf="displayCreationForm" (ngSubmit)="submitForm()"></u25-pin-create-form>
    <form *ngIf="!displayCreationForm" (ngSubmit)="submitForm()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">PIN eingeben</ion-label>
                <ion-input required type="password" inputmode="numeric" [(ngModel)]="pin" name="pin"></ion-input>
                <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
            </ion-item>
        </ion-list>
        <a routerLink="/settings/change-pin/question">PIN vergessen?</a>
    </form>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-button class="btn-sign-in" fill="outline" expand="block" size="large" (click)="submitForm()">
            Entsperren
        </ion-button>
    </ion-toolbar>
</ion-footer>
