<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Passwort ändern</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="edit">
    <form #changePasswordForm="ngForm" (ngSubmit)="submitForm()" (keyup.enter)="submitForm()">
        <ion-item>
            <ion-label position="floating">Aktuelles Passwort eingeben</ion-label>
            <ion-input [(ngModel)]="changePasswordData.oldPassword" name="oldPassword" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Neuen Passwort eingeben</ion-label>
            <ion-input
                [(ngModel)]="changePasswordData.newPassword"
                name="newPassword"
                #newPassword="ngModel"
                type="password"
            ></ion-input>
            <ion-icon name="information-circle-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Neuen Passwort wiederholen</ion-label>
            <ion-input
                [u25EqualValue]="newPassword.value"
                [(ngModel)]="changePasswordData.newPasswordCheck"
                name="newPasswordCheck"
                type="password"
            ></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-padding-horizontal" (click)="submitForm()">
            Bestätigen
        </ion-button>
    </form>
</ion-content>
