<ion-content class="u25-safe-area-padding">
    <h1>Hallo.</h1>
    <h2>Was möchtest du machen?</h2>
    <ion-card *ngFor="let card of cards" routerDirection="root" [routerLink]="[card.link]">
        <ion-item lines="none">
            <ion-icon [name]="card.icon" slot="start"></ion-icon>
            <div>
                <h3>{{card.title}}</h3>
                <div *ngIf="card.subtitle && userNotLoggedIn" class="subtitle">{{card.subtitle}}</div>
            </div>
        </ion-item>
    </ion-card>
</ion-content>
