<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #loginForm="ngForm" (submit)="onSubmit()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Benutzername</ion-label>
                <ion-input required [(ngModel)]="loginData.username" name="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Passwort</ion-label>
                <ion-input required [(ngModel)]="loginData.password" name="password" type="password"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button type="submit" expand="block" class="ion-padding-horizontal">Einloggen</ion-button>
        <p class="ion-text-center ion-no-margin greyed-text">
            Noch keinen Account? <a routerLink="../register" routerDirection="forward">Registriere dich hier</a>
        </p>
    </form>
</ion-content>
