.message-date {
    margin-top: 13px;
    font-size: 11px;
}

.unread-circle {
    width: 10px;
    height: 10px;
    background: #a41916;
    border-radius: 50%;
    display: inline-block;
    margin-top: 13px;
}

.unread {
    font-weight: bold;
}
